@media screen and (max-width: 1024px){
  body {
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  header {
    background-color: #ffc017;
    color: black;
  }

  /* navbar */

  nav {
    background-color: #ffc017;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav img {
    width: 30%;
    height: auto;
    padding: 1em;
    margin: 1em;
  }

  nav ul {
    display: flex;
  }

  nav ul a {
    text-decoration: none;
    margin-right: 1.5em;
  }

  nav ul li {
    margin: 0.8em;
    color: black;
    list-style: none;
    font-size: 0.8em;
  }

  .hidden {
    display: none;
  }

  .button {
    background-color: black;
    border-radius: 30px;
  }

  .button li {
    color: white;
  }

  /* hero */

  header section {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
    border-bottom: 2px solid black;
  }

  header section h1 {
    font-size: 3em;
    font-family: "Spectral", serif;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 45%;
    /* da rivedere quando inserisco SVG  */
  }

  header section p {
    font-size: 1.3em;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 65%;
    /* da rivedere quando inserisco SVG  */
  }

  header section button {
    background-color: black;
    border-radius: 30px;
    color: white;
    border: none;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-left: 1rem;
  }

  main{
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    justify-content: flex-start;
  }

  main section{
    border-bottom: 1px solid lightgray;
  }



/* trending and discover more */
h3{
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0.5em;
  }

  /* titoletti con orario post */
h4{
    color: darkgray;
    font-size: 0.8em;
    margin-top: 1rem;
    margin-bottom: 1rem;;

}

  main section img{
    float: left;
    margin-right: 0.5rem;
  }

  main section div{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 1rem;
  }

  main section div h2{
    font-size: 2em;
    color: grey;
    font-weight: 700;
    grid-row-end: span 3
  }

  main section h3{
    font-weight: 600;

  }

  .sticky{
    padding-bottom: 1rem;
  }

  .sticky button{
    margin: 0.2rem;
    padding: 0.5em 1.5em;
    font-size: 0.7em;
    color: gray;
    border: 1px solid lightgrey;
    background-color: white;
  }

  .sticky h3{
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .sticky a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    margin-right: 2rem;
  }

  #author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #author img{
    width: 25px;
    border-radius: 50%;
    margin-right: 0.5em;
  }

  #author h2{
    font-weight: bold;
    font-size: 0.8em;
  }

  article{
    display: flex;
    margin: 1em auto;
  }

  .picture{
    grid-row-end: span 4;
    width: 40%;
    height: auto;
    margin-left: 1em;
  }

   article img{
    vertical-align: middle;
  }

  article h1{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.8em;
  }

  article h4{
    display: inline;
  }

  article p{
    color: gray;
    font-size: 1em;
  }

  article a{
    text-decoration: none;
    color: white;
    background-color: lightgray;
    padding: 0.3em 0.6em;
    font-size: 0.6em;
    border-radius: 10px;
  }

 
}

@media screen and (min-width: 1024px){
   body {
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }

  header {
    background-color: #ffc017;
    color: black;
  }

  /* navbar */

  nav {
    background-color: #ffc017;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav img {
    width: 30%;
    height: auto;
    padding: 1em;
    margin: 1em;
  }

  nav ul {
    display: flex;
  }

  nav ul a {
    text-decoration: none;
    margin-right: 1.5em;
  }

  nav ul li {
    margin: 0.8em;
    color: black;
    list-style: none;
    font-size: 0.8em;
  }


  .button {
    background-color: black;
    border-radius: 30px;
  }

  .button li {
    color: white;
  }

  /* hero */

  header {
    padding-left: 1rem;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  header section h1 {
    font-size: 3em;
    font-family: "Spectral", serif;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 45%;
    /* da rivedere quando inserisco SVG  */
  }

  header section p {
    font-size: 1.3em;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 65%;
    /* da rivedere quando inserisco SVG  */
  }

  header section button {
    background-color: black;
    border-radius: 30px;
    color: white;
    border: none;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-left: 1rem;
  }

  main{
    display: block;
    width: 85%;
    margin: 1rem auto;
  }

  main img{
    vertical-align: middle;
  }

#trending{
    display: inline-block;
}

  main section{
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

/* trending and discover more */
h3{
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0.5em;
  }

  /* titoletti con orario post */
h4{
    color: darkgray;
    font-size: 0.8em;
    margin-top: 1rem;
    margin-bottom: 1rem;;

}

  main section img{
    float: left;
    margin-right: 0.5rem;
  }

  main section div{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 1rem;
  }

  main section div h2{
    font-size: 2em;
    color: grey;
    font-weight: 700;
    grid-row-end: span 3
  }

  main section h3{
    font-weight: 600;

  }

  .sticky{
    display: block;
    padding-bottom: 1rem;
    margin-left: 1rem;;
    width: 39%;
    float: right;
    clear: both;
  }

  .sticky button{
    margin: 0.2rem;
    padding: 0.5em 1.5em;
    font-size: 0.7em;
    color: gray;
    border: 1px solid lightgrey;
    background-color: white;
  }

  .sticky h3{
    margin-bottom: 1rem;
    margin-top: 2rem;

  }

  .sticky a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    margin-right: 2rem;
  }

  #author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #author img{
    width: 25px;
    border-radius: 50%;
    margin-right: 0.5em;
  }

  #author h2{
    font-weight: bold;
    font-size: 0.8em;
  }

  article{
    width: 59%;
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
  }

  .picture{
    grid-row-end: span 4;
    width: 40%;
    height: auto;
    margin-left: 1em;
  }

   article img{
    vertical-align: middle;
  }

  article h1{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.8em;
  }

  article h4{
    display: inline;
  }

  article p{
    color: gray;
    font-size: 1em;
  }

  article a{
    text-decoration: none;
    color: white;
    background-color: lightgray;
    padding: 0.3em 0.6em;
    font-size: 0.6em;
    border-radius: 10px;
  }

 
}
